<div class="mobile-view" style="background: #000000">
    <div class="blog-hld">
      <div class="blog-box">
        <h2>Latest blog posts</h2>
        <div class="textwidget">
          <ul class="blog-lists">
            <li><a href="#">
                <div class="blog-box-inside">
                  <h3 class="blog-title">Vivamus felis orci, interdum lacinia varius quis, consequat quis dui.</h3>
                </div>
              </a></li>
            <li><a href="#">
                <div class="blog-box-inside">
                  <h3 class="blog-title">Donec viverra erat eget leo imperdiet, sit amet dictum lacus lacinia. Duis
                    cursus lorem eros, in commodo magna </h3>
                </div>
              </a></li>
          </ul>
        </div>
      </div>
      <div class="textwidget">
        <h1>WEICHERT, REALTORS</h1>
        <div class="textwidget">
          <h2>Vivamus felis orci, interdum lacinia varius quis, consequat quis dui.</h2>
          <ul class="phn-addr-list">
            <li>
              <p>
                PHONE<br>
                <span>
                  (241) 51231-2412 <br>
                </span>
              </p>
            </li>
            <li>
              <p>
                ADDRESS<br>
                <span>
                  Vivamus felis orci, interdum lacinia <br>
                  Vivamus felis orci
                </span>
              </p>
            </li>
          </ul>
          <p class="flogo">
            <img
              src="https://media.licdn.com/dms/image/C4E0BAQHotIvG8DYY_A/company-logo_200_200/0?e=2159024400&v=beta&t=LlFwJS-MFp-4g43rXBjJk9VZ86jYsxFWsvWuqplyKg4"
              alt="Weichert Realtors" title="Weichert Realtors" style=" width: 200px">
          </p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="footer-main" style="background: #F9F60A ">
      <div id="footer-holder" style="background: #F9F60A ">
        <div id="footer-left">
          <div class="menu-menu-1-container">
            <ul id="nav" class="sf-menu">
              <li class=""><a href="">HOME</a></li>
              <li class=""><a href="">BLOG</a></li>
              <li class=""><a href="">AGENTS</a></li>
              <li class=""><a href="">OUR LISTINGS</a></li>
              <li class=""><a href="">BUY</a></li>
              <li class=""><a href="">SELL</a></li>
              <li class=""><a href="">FINANCE</a></li>
              <li class=""><a href="">NEIGHBORHOODS</a></li>
              <li class=""><a href="">CONTACT</a></li>
              </ul>
          </div>
          <ul class="fm2">
            <li><a href="" class="cpy">Vivamus felis orci, interdum lacinia varius quis, consequat quis dui.</a></li>
          </ul>
        </div>
      </div>
    </div>