<div id="main-fprop" class="mobile-view">
    <div class="fprop-hld">
      <h2>FEATURED PROPERTIES</h2>
      <ul>

        <li>
          <div>
            <ul class="fprop-dtl-list">
              <li>
                <div class="fp-img-holder"><img src="https://s-ec.bstatic.com/images/hotel/max1024x768/414/41430066.jpg"
                    alt=""></div>
              </li>
              <li>
                <div class="fpropdtl">
                  <h2>$ 1,340,230</h2>
                  <p>Vivamus felis orci, interdum lacinia varius quis</p>
                  <p class="arrw-btn"><a href="#">VIEW</a></p>
                </div>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <div>
            <ul class="fprop-dtl-list">
              <li>
                <div class="fp-img-holder"><img
                    src="https://img1.coastalliving.timeinc.net/sites/default/files/styles/4_3_horizontal_inbody_900x506/public/image/2016/07/main/showhouse-exterior-back-4050501_shot_35_1184.jpg?itok=V8HDk7dQ"
                    alt=""></div>
              </li>
              <li>
                <div class="fpropdtl">
                  <h2>$ 1,340,230</h2>
                  <p>Vivamus felis orci, interdum lacinia varius quis</p>
                  <p class="arrw-btn"><a href="#">VIEW</a></p>
                </div>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </div>